<div class = "ui grid container">
    <div class = "row">
        <div class = "left aligned six wide column">
            <label for ="entries">Number of entries</label>
            <select id = "entries" class="ui dropdown">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class= "right floated right aligned six wide column">
            <div class = "ui input">
                <input type="text" placeholder = "Search.. " id="search">
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "sixteen wide column">
            <table class="ui compact  celled table">
                <thead>
                <tr><th>Name</th>
                    <th>Date</th>
                    <th>Roles</th>
                    <th>Sessions</th>
                    <th>Speakers</th>
                    <th>Tickets</th>
                    <th>Public Url</th>
                    <th>Actions</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>
                        <div><i class="large camera icon"></i></div>
                        <div>Abhinav Khare</div>
                    </td>
                    <td>
                        27-06-2017
                    </td>
                    <td>
                        <ol><li>abhinav.khare31@gmail.com (Organizer)</li></ol>
                    </td>
                    <td>
                        <ol><li>Drafts: 0</li>
                            <li>Submitted: 0</li>
                            <li>Accepted: 0</li>
                            <li>Confirmed: 0</li>
                            <li>Pending: 0</li>
                            <li>Rejected: 0</li>
                        </ol>
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        No Ticket information
                    </td>
                    <td>
                        localhost/event
                    </td>
                    <td>
                        <i class = "large delete icon"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>